<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles1.css">
</head>
<body>
    <header>
        <h1 class="logo">Instrument</h1>
        <input type="checkbox" class="nav-toggle" id="nav-toggle">
        <nav>
          <ul>
            <li> <a href="">What We Do</a></li>
            <li> <a href="">Who We Are</a></li>
            <li> <a href="">Being Here</a></li>
            <li> <a href="">Careers</a></li>
          </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
          <span></span>
        </label>
      </header>
      
      <!-- Section One -->
      
      <section class="section-one">
        <h2 class="header">Build. Grow. Serve.</h2>
        <p class="section-one-paragraph">We are investing $3 million over the next three years Build|Grow|Serve program, created to support and empower Black underrepresented communities</p>
        <a href="" class="learn-more-btn">Learn More </a> 
      </section>
      
      <!-- Section Two -->
      <section class="section=two">
        <img src=https://images.unsplash.com/photo-1667826385031-2b4d06d686d8?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Njk2MDMyODU&ixlib=rb-4.0.3&q=80>
      </section>
      
      <!-- Section Three -->
      <section class="section-three">
        <h3>We enrich human lives through the thoughtful application of design and technology</h3>
      </section>
      
      <!-- Section Four -->
      <section class="section-four">
        <div class="flex-group">
          <div>
            <img src=https://images.unsplash.com/photo-1667490111717-21a3d34c58d0?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Njk2NzUwODU&ixlib=rb-4.0.3&q=80>
          </div>
          <div class="content-container">
            <p>In the summer of 2020, we reported our representation data and committed to doing so annually. One year later, we are please to share an update on our goals, and progress, and the work that still needs to be done.</p>
            <a href="" class="learn-more-btn section-four-btn">Learn More</a>
          </div>
        </div>
      </section>
      
  
      
</body>
</html>
