<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <div class="wrapper">
    <div class="registration_form">
      <div class="title">
        Register With Us !
      </div>
  
      <form action ="/" method="post">
        <div class="form_wrap">
          
          <div class="input_wrap">
            <label for="email">Email Address</label>
            <input type="text" id="email" name="email" require>
          </div>
        
            <div class="input_wrap">
              <label for="password">Password</label>
              <input type="text" id="password" name="password" require>
            </div>
          <div class="input_wrap">
            <input type="submit" value="Register Now" class="submit_btn">
          </div>
          <%if(alert_msg!=null){%>
            <div class="err-msg" id="err-msg" name="err-msg">
              <%=alert_msg%>
            </div>
            <%}%>
        </div>
      </form>

    
    </div>
    <div class="input_wrap">
   <a href="/login"><button type="submit" class="login_btn" id="login_btn">LOGIN</button></a> 
    </div>
   
  </div>
<script>
 
</script>
</body>
</html>