<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>

  <div class="wrapper">
    <div class="registration_form">
      <div class="title">
        Log In to Your Account
      </div>
  
      <form action ="/login" method="post">
        <div class="form_wrap">
          
          <div class="input_wrap">
            <label for="email">Email Address</label>
            <input type="text" id="email" name="email" require>
          </div>
        
            <div class="input_wrap">
              <label for="password">Password</label>
              <input type="text" id="password" name="password" require>
            </div>
          <div class="input_wrap">
            <input type="submit" value="LOG IN" class="submit_btn">
          </div>
         
          <%if(alert_msg!=null){%>
            <div class="err-msg" id="err-msg" name="err-msg">
              <%=alert_msg%>
            </div>
            <%}%>
        </div>
      </form>

    
    </div>
    <div class="input_wrap">
      <a href="/"><button type="submit" class="login_btn" id="login_btn">Register</button></a> 
       </div>
    <div class="input_wrap">
        <a href='/forgotPass'><button type="submit" class="login_btn" id="login_btn">Forgot Password ?</button></a> 
         </div>
   
  </div>

</body>
</html>